---
import { getCollection } from "astro:content";
import { getAssociativeCollection } from "../../lib/collections";
import { Image } from "astro:assets";
import Layout from "../../layouts/Layout.astro";
import Section from "../../components/Section.astro";
import Prose from "../../components/Prose.astro";

export async function getStaticPaths() {
  const members = await getCollection("members");
  return members.map((member) => ({
    params: {
      member: member.id,
    },
    props: member,
  }));
}

const { name, pronouns, photo } = Astro.props.data;
const { html } = Astro.props.rendered ?? { html: "" };
---

<Layout title={name}>
  <Section>
    <Image src={photo} alt={name} class="w-1/2 float-right ml-2" />
    <Prose>
      <h1>{name} {pronouns ? `(${pronouns})` : ""}</h1>
      <div set:html={html} />
    </Prose>
  </Section>
  <div class="mb-6 clear-both"></div>
</Layout>
