---
import { Image } from "astro:assets";
import { combineClasses } from "../../lib/cssClasses";
import type { ImageMetadata } from "astro";
import { random } from "../../lib/random";

interface Props {
    imageSrc: ImageMetadata;
    imageDescription: string;
    randomRotationDegrees?: number;
    linkUrl?: string;
    linkToNewTab?: boolean;
}

const { imageSrc, imageDescription, randomRotationDegrees, linkUrl } =
    Astro.props;

const baseClass = "polaroid bg-white shadow-md/30 rounded p-2";
const rotation = randomRotationDegrees ? random(randomRotationDegrees) : 0;
const finalClass = combineClasses(baseClass);
---

{
    linkUrl ? (
        <a
            class={finalClass}
            href={linkUrl}
            style={{ transform: `rotate(${rotation}deg)` }}
        >
            <Image
                src={imageSrc}
                alt={imageDescription}
                class="w-full aspect-square object-cover object-center"
            />
            <div class="mt-1 permanent-marker-regular">
                <slot />
            </div>
        </a>
    ) : (
        <div class={finalClass} style={{ transform: `rotate(${rotation}deg)` }}>
            <Image
                src={imageSrc}
                alt={imageDescription}
                class="w-full aspect-square object-cover object-center"
            />
            <div class="mt-1 permanent-marker-regular">
                <slot />
            </div>
        </div>
    )
}
