---
import { Image } from "astro:assets";
import Card from "./Card.astro";
import Prose from "./Prose.astro";
import { marked } from "marked";

interface Props {
    imageURL?: string;
    imageDescription?: string;
    name?: string;
    eventLink?: string;
    description?: string;
    date?: string;
}

const { eventLink, imageURL, imageDescription, name, description, date } =
    Astro.props;
---

<Card>
    {
        imageURL && (
            <Image
                src={imageURL}
                alt={imageDescription ?? ""}
                class="w-full"
                slot="header"
                inferSize={true}
            />
        )
    }
    <Prose>
        {
            name && (
                <a href={eventLink}>
                    <h4>{name}</h4>
                </a>
            )
        }
        {date && <i>{date}</i>}
        {description && <Fragment set:html={marked(description)} />}
    </Prose>
</Card>
