---
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import Prose from "../../components/Prose.astro";
import Section from "../../components/Section.astro";
import { marked } from "marked";
import Row from "../../components/containers/Row.astro";
import Column from "../../components/containers/Column.astro";
import { Image } from "astro:assets";
import Button from "../../components/Button.astro";

export async function getStaticPaths() {
    const specialEvents = await getCollection("specialEvents");
    const recurringEvents = await getCollection("recurringEvents");

    const specialEventPaths = specialEvents.map((event) => ({
        params: {
            event: event.id,
        },
        props: {
            imageURL: event.data["Image URL"],
            imageDescription: event.data["Image Description"],
            name: event.data.Name,
            date: event.data.Date,
            description: event.data.Description,
            fullDetails: event.data["Full Details"],
            ticketLink: event.data["Ticket Link"],
        },
    }));

    const recurringEventPaths = recurringEvents.map((event) => ({
        params: {
            event: event.id,
        },
        props: {
            imageURL: event.data["Image URL"],
            imageDescription: event.data["Image Description"],
            name: event.data.Name,
            date: event.data.Date,
            description: event.data.Description,
            fullDetails: event.data["Full Details"],
            ticketLink: event.data["Ticket Link"],
        },
    }));

    return [...specialEventPaths, ...recurringEventPaths];
}

const {
    name = "Untitled Event",
    description,
    fullDetails,
    date,
    imageURL,
    imageDescription,
    ticketLink,
} = Astro.props;
---

<Layout title={name} imageURL={imageURL} description={description}>
    <Section>
        <Prose>
            <Row minSize="md" extraClass="items-start">
                {
                    imageURL && (
                        <Image
                            class="w-full md:pr-4 align-top"
                            src={imageURL}
                            alt={imageDescription ?? ""}
                            inferSize={true}
                        />
                    )
                }
                <Column extraClass="w-full">
                    <h2 class="self-center">{name}</h2>
                    {date && <i class="self-center">{date}</i>}
                    {ticketLink && <div class="self-center">
                            <Button 
                            link={ticketLink}
                            newTab
                            icon="ticket"
                            iconPack="solid"
                            >
                            Buy Tickets
                            </Button>
                        </div>}
                    {fullDetails ? <Fragment set:html={marked(fullDetails)} /> : <Fragment set:html={marked(description)} />}
                </Column>
            </Row>
        </Prose>
    </Section>
</Layout>
